.memory {
    position: absolute;
    outline: 2px solid black;
    outline-offset: -1px;
    text-align: center;
}

.memoryName {
    padding: 5px;
    line-height: 1;
    font-weight: bold;
}

.ioScope {
    position: absolute;
}
