@inherits FIRBase<Memory>

<div id="@SizeWatcherID" class="memory" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();min-width:@GetCurrentSize().X.ToPixels();min-height:@GetCurrentSize().Y.ToPixels();">
    <div class="memoryName">
        <div>@Operation.Name</div>
        <div>Memory</div>
    </div>

    <ScopedIOUI NodeIO="@NodeIO" AlwaysShowName="true"></ScopedIOUI>
</div>

@code {
    private ScopedNodeIO NodeIO = new ScopedNodeIO(new List<ScopedDirIO>(), new List<ScopedDirIO>(), 10, 50, 10);

    protected override void OnFirstParametersSetAsync()
    {
        SetCurrentSize(new Point(200, 10));

        base.OnFirstParametersSetAsync();
    }

    protected override List<DirectedIO> OnMakeInputs(int width, int height)
    {
        NodeIO = IOPositionCalc.VerticalScopedIO(Operation.GetIO(), GetCurrentSize().X, 50, 10);
        SetCurrentSize(new Point(GetCurrentSize().X, NodeIO.HeightNeeded));

        return NodeIO.GetInputDirIO();
    }

    protected override List<DirectedIO> OnMakeOutputs(int width, int height)
    {
        return NodeIO.GetOutputDirIO();
    }
}
