@inherits FIRBase<Memory>

<div id="@SizeWatcherID" class="memory" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();min-width:@WIDTH.ToPixels();min-height:@HEIGHT.ToPixels();">
    <div style="padding:5px;">@Operation.Name</div>

    @foreach (var input in InputOffsets)
    {
        <IOPortUI Position="@input.Position"></IOPortUI>
    }

    @foreach (var output in OutputOffsets)
    {
        <IOPortUI Position="@output.Position"></IOPortUI>
    }
</div>

@code {
    private const int HEIGHT = 200;
    private const int WIDTH = 100;

    private const int StartY = 12;
    protected override List<DirectedIO> OnMakeInputs(int width, int height)
    {
        return IOPositionCalc.EvenVertical<Input>(height, Operation.GetInputs(), 0, StartY);
    }

    protected override List<DirectedIO> OnMakeOutputs(int width, int height)
    {
        return IOPositionCalc.EvenVertical<Output>(height, Operation.GetOutputs(), WIDTH, StartY);
    }
}
