.module {
    position: absolute;
    display: inline-block;
    outline: 2px solid black;
    outline-offset: -1px;
}

.moduleHeader {
    width: 100%;
    border-bottom: solid black;
    text-align: center;
}

.moduleContent {
    position: relative;
}

.moduleWires {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
}

.wire {
    stroke-width: 2;
}

.wireHoverArea {
    stroke: white;
    stroke-opacity: 0.01;
    stroke-width: 10;
}

.wireConnection {
    stroke-width: 6;
    stroke-linecap: round;
}

.wireElement {
    stroke: black;
}

g:hover > .wireElement {
    stroke: orange;
}