.vectorAssign {
    position: absolute;
    display: inline-block;
    outline: 2px solid black;
    outline-offset: -1px;
    text-align: center;
}

.vectorAssignName {
    padding: 5px;
    line-height: 1;
    font-weight: bold;
}