@inject NavigationManager Navigator;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChiselDebuggerWebUI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @foreach (var firrtlFilename in FIRRTLFilenames)
            {
            <a class="nav-link" @onclick="_ => ShowCircuit(firrtlFilename)">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @firrtlFilename
            </a>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private readonly string[] FIRRTLFilenames = new string[]
    {
        "Alu.lo.fir",
        "FSMDatapath.lo.fir",
        "MovingAveragePow2.fir",
        "MovingAveragePow2.lo.fir",
        "NeuromorphicProcessor.lo.fir",
        "RegFileMem.fir",
        "RegFileMem.lo.fir",
        "RegFileVec.fir",
        "RegFileVec.lo.fir",
        "Tile.fir"
    };

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ShowCircuit(string firrtlFilename)
    {
        Navigator.NavigateTo($"circuitviewer/{firrtlFilename.Replace('.', '-')}", true);
    }
}
