.primOp {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    font-family: monospace;
    padding: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputs-result {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: end;
}

.result {
    text-align: right;
    text-decoration: overline;
    font-size: 1em;
    grid-row: 3;
}

.primOpSymbol {
    text-align: center;
    font-size: 1.5em;
    margin-right: 4px;
}

.switch-base-btn {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 0.8em;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 4px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-base-btn .oi {
    font-size: 14px;
    color: #555;
}

.switch-base-btn:hover {
    background-color: #e0e0e0;
}

.switch-base-btn:active {
    background-color: #d0d0d0;
}

.switch-base-btn:active, .switch-base-btn:focus {
    outline: none;
    border: none;
}
