.memory {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    outline: 2px solid black;
    outline-offset: -1px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.memoryName {
    line-height: 1;
    font-weight: bold;
    margin-bottom: 5px;
}