.module {
    position: absolute;
    display: inline-block;
    outline: 4px solid blue;
    outline-offset: -2px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.moduleHeader {
    position: absolute;
    text-align: center;
    color: #6b6b6b;
}

.moduleContent {
    position: relative;
    transform-origin: 0 0;
}
