@inherits FIRTitleBase<VectorAssign>

<div id="@SizeWatcherID" class="vectorAssign" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();min-width:@GetCurrentSize().X.ToPixels();min-height:@GetCurrentSize().Y.ToPixels();">
    <div id="@TitleID" class="vectorAssignName">
        <div>Vector Assign</div>
    </div>

    <ScopedIOUI NodeIO="@NodeIO" AlwaysShowName="true"></ScopedIOUI>
</div>

@code {
    private ScopedNodeIO NodeIO = null;

    protected override void OnFirstParametersSetAsync()
    {
        SetCurrentSize(new Point(120, 10));

        base.OnFirstParametersSetAsync();
    }

    protected override DirectedIO[] OnMakeSinks(int width, int height)
    {
        NodeIO = IOPositionCalc.VerticalScopedIO(Operation.GetIO().ToArray(), GetCurrentSize().X, GetPaddedTitleHeight(), 10);
        SetCurrentSize(new Point(GetCurrentSize().X, NodeIO.HeightNeeded));

        return NodeIO.GetSinkDirIO();
    }

    protected override DirectedIO[] OnMakeSources(int width, int height)
    {
        return NodeIO.GetSourceDirIO();
    }
}
