.wiresContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.wire {
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.wireHoverArea {
    stroke: white;
    stroke-opacity: 0.01;
    stroke-width: 10;
}

.wireConnection {
    stroke-width: 4;
    stroke-linecap: round;
}

.wireElement {
    stroke: #212121;
    transition: stroke 0.3s ease;
}

.wireGroup {
    pointer-events: auto;
}

.wireGroup:hover > .wireElement {
    stroke: #FFA726 !important;
}

.wireGroup:hover > .wireElement {
    stroke: #FFA726 !important;
}
