@page "/circuitviewer"
@page "/"
@using FIRRTL
@using VCDReader

<div class="Circuit">
    @foreach (var modulePos in ModulePositions)
    {
        <ModuleUI PosOp="@modulePos"></ModuleUI>
    }
</div>



@code
{
    private List<Positioned<ChiselDebug.GraphFIR.Module>> ModulePositions = new List<Positioned<ChiselDebug.GraphFIR.Module>>();

    protected override void OnInitialized()
    {
        var circuit = FIRRTL.Parse.FromFile("Examples/MovingAveragePow2.lo.fir");
        var vcd = VCDReader.Parse.FromFile("Examples/MovingAveragePow2.vcd");
        var graph = CircuitGraph.VisitCircuit(circuit);
        ModulePositions.Add(new Positioned<ChiselDebug.GraphFIR.Module>(new Point(0, 0), graph.Modules[0]));
    }
}
