.Circuit {
    position: relative;
    height: 100%;
    width: 100%;
}

.timelineContent {
    width: 100%;
    height: 50px;
}

.timeline {
    width: 100%;
}

.ticksList {
    width: 100%;
    position: relative;
}

tick {
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    line-height: 2em;
}