@page "/circuitviewer"
@page "/"
@using FIRRTL
@using VCDReader
@using System.Diagnostics
@using ChiselDebug.Timeline;

<div class="Circuit">
    @foreach (var modulePos in ModulePositions)
    {
        <ModuleUI PosOp="@modulePos"></ModuleUI>
    }
</div>



@code
{
    private List<Positioned<ChiselDebug.GraphFIR.Module>> ModulePositions = new List<Positioned<ChiselDebug.GraphFIR.Module>>();

    protected override void OnInitialized()
    {
        //var circuit = FIRRTL.Parse.FromFile("Examples/MovingAveragePow2.lo.fir");
        //var vcd = VCDReader.Parse.FromFile("Examples/MovingAveragePow2.vcd");
        var circuit = FIRRTL.Parse.FromFile("Examples/RegFileVec.lo.fir");
        var vcd = VCDReader.Parse.FromFile("Examples/RegFileVec.vcd");
        var graph = CircuitToGraph.GetAsGraph(circuit);
        graph.InferTypes();

        VCDTimeline timeline = new VCDTimeline(vcd);

        ModulePositions.Add(new Positioned<ChiselDebug.GraphFIR.Module>(new Point(0, 0), graph.Modules[0]));
    }
}
