.timeline-container {
    display: flex;
    align-items: center;
    padding: 8px;
}

.timeline-controls {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.timeline-time-input {
    width: 100%;
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.timeline-buttons {
    display: flex;
}

.timeline-button {
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1.5em;
    padding: 2px 8px;
    margin-left: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.timeline-button:hover {
    background-color: #0056b3;
}

.timeline-range {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.range-select {
    width: 100%;
    height: 50px;
    position: relative;
}

.range-start {
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #808080;
    border-right: thin solid #000000;
}

.range-stop {
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #808080;
    border-left: thin solid #000000;
}

.timeline-slider {
    width: 100%;
    margin-bottom: 8px;
}

.ticks-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.ticks-list {
    width: 100%;
    position: relative;
    height: 2em;
}

tick {
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    line-height: 2em;
}
