<div class="ioDot" style="left:@Position.X.ToPixels();top:@Position.Y.ToPixels();" @onmouseover="x => WindowEvents.MouseEntersIO(IO, x)" @onmouseout="x => WindowEvents.MouseExitIOAsync(IO, x)"></div>

@code {
    [Parameter]
    public Point Position { get; set; }

    [Parameter]
    public FIRIO IO { get; set; } = null!;

    [Inject]
    public IOWindowEvents WindowEvents { get; set; } = null!;

    private const int DOT_RADIUS = 3;

    protected override Task OnParametersSetAsync()
    {
        //When position is set first, it represents the position of
        //the upper left corner of the dot. In order to center it
        //the radius is subtracted from the position.
        Position = Position - new Point(DOT_RADIUS, DOT_RADIUS);

        return base.OnParametersSetAsync();
    }
}
