@inherits LayoutComponentBase

<div class="page" @onmouseup="MouseUp" @onmousemove="MouseMove">
    <div class="sidebar">
        <NavMenu OnNewCircuitFiles=ShowCircuitFiles/>
    </div>

    <div class="main">
        <div class="content px-4">
            @if (CircuitFiles != null)
            {
                <CircuitViewer @key=CircuitFiles CircuitFiles=CircuitFiles></CircuitViewer>   
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    public PageWideEvents PageWideEvents { get; set; }

    private CircuitFiles CircuitFiles;

    private void MouseUp(MouseEventArgs args)
    {
        PageWideEvents.InvokeOnMouseUp(args);
    }

    private void MouseMove(MouseEventArgs args)
    {
        PageWideEvents.InvokeOnMouseMove(args);
    }

    private void ShowCircuitFiles(CircuitFiles files)
    {
        CircuitFiles = files;
        StateHasChanged();
    }
}
