@inherits LayoutComponentBase

<div class="page" @onmouseup="MouseUp" @onmousemove="MouseMove">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <CascadingValue Value="@this" Name="DocEvents" IsFixed="true">
            <div class="content px-4">
                @Body
            </div>
        </CascadingValue>
    </div>
</div>

@code {
    public delegate void MouseEventHandler(MouseEventArgs args);
    public event MouseEventHandler OnMouseUp;
    public event MouseEventHandler OnMouseMove;

    private void MouseUp(MouseEventArgs args)
    {
        OnMouseUp?.Invoke(args);
    }

    private void MouseMove(MouseEventArgs args)
    {
        OnMouseMove?.Invoke(args);
    }
}
