@inherits LayoutComponentBase

<div class="page" @onmouseup="MouseUp" @onmousemove="MouseMove">
    <div class="sidebar">
        <NavMenu OnNewCircuitFiles=ShowCircuitFiles/>
    </div>

    <div class="main">
        <div class="content px-4">
            @if (CircuitFiles != null)
            {
                <CircuitViewer @key=CircuitFiles CircuitFiles=CircuitFiles></CircuitViewer>   
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    public PageWideEvents PageWideEvents { get; set; } = null!;

    private CircuitFiles? CircuitFiles = null;

    private Task MouseUp(MouseEventArgs args)
    {
        return PageWideEvents.InvokeOnMouseUpAsync(args);
    }

    private Task MouseMove(MouseEventArgs args)
    {
        return PageWideEvents.InvokeOnMouseMoveAsync(args);
    }

    private void ShowCircuitFiles(CircuitFiles files)
    {
        CircuitFiles = files;
        StateHasChanged();
    }
}
